/* General */
body {
    font-family: 'Indie Flower', sans-serif;
    background: url('/productos/chupachups.webp') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #333;
}

h2 {
    color: #666;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
}

.productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.producto {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.producto:hover {
    transform: scale(1.05);
}

.producto img {
    max-width: 100%;
    border-radius: 8px;
}

.producto p {
    color: #333;
    margin-top: 10px;
}

.producto p:nth-of-type(2) {
    color: #ff5e5b;
    font-weight: bold;
}