body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
}

header {
    background: #ff4500;
    color: white;
    padding: 15px;
}

button {
    background-color: #ff4500;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #e03e00;
}

